<footer class="blog-footer">
    <p>Blog build for <a href="https://nodejs.org/">Node.JS</a></p>
    <p>
        <a href="#" id="back-top">Back to top</a>
    </p>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/javascripts/bootstrap.min.js"></script>
<!--KindEditor-->
<script charset="utf-8" src="/kindEditor/kindeditor-min.js"></script>
<script charset="utf-8" src="/kindEditor/lang/zh_CN.js"></script>

<script src="/javascripts/style.js"></script>
</body>

</html>